<form action="/favourites" method="POST" class="inline-block">
  <button type="submit" class="inline-block bg-red-500 text-white px-4 py-2 rounded-lg hover:bg-red-600">
    Add to Favourites
  </button>
  <input type="hidden" name="id" value="<%=home._id%>">
</form>